<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<!-- Create validation error view -->

<%= form_for @user do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>
    <%= f.submit "Create" %>
<% end %>